<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iatc.web.mapper.BasePropertyMapper" >
    <resultMap id="BaseResultMap" type="cn.iatc.database.entity.BaseProperty" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="property" property="property" jdbcType="VARCHAR" />
        <result column="accuracy" property="accuracy" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="enabled_status" property="enabledStatus" jdbcType="SMALLINT" />
        <result column="created_time" property="createdTime" javaType="java.util.Date" />
        <result column="updated_time" property="updatedTime" javaType="java.util.Date" />
    </resultMap>

    <sql id="baseSql">
        id, name, property, accuracy, unit, sort, enabled_status, created_time, updated_time
    </sql>

    <sql id="table_base_property">
        <![CDATA[${@cn.iatc.database.constants.SqlConstants@TABLE_BASE_PROPERTY}]]>
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM <include refid="table_base_property"/> WHERE id=#{id}
    </select>


</mapper>