<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iatc.mqtt_server.mapper.DeviceStationMapper" >
    <resultMap id="BaseResultMap" type="cn.iatc.database.entity.DeviceStation" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="device_id" property="deviceId" jdbcType="BIGINT" />
        <result column="station_id" property="stationId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="table_device_station">
        <![CDATA[${@cn.iatc.database.constants.SqlConstants@TABLE_DEVICE_STATION}]]>
    </sql>

    <select id="findDevicesByStation" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT device_id FROM <include refid="table_device_station"/> WHERE station_id=#{stationId}
    </select>

</mapper>