<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iatc.mqtt_server.mapper.OriginalPowerMapper" >
    <resultMap id="BaseResultMap" type="cn.iatc.database.entity.OriginalPower" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" javaType="java.util.Date" />
    </resultMap>

    <sql id="baseSql">
        id, code, type, value, created_time
    </sql>

    <sql id="insertSql">
        code, type, value, created_time
    </sql>

    <sql id="table_original_power">
        <![CDATA[${@cn.iatc.database.constants.SqlConstants@TABLE_ORIGINAL_POWER}]]>
    </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO <include refid="table_original_power"/> (<include refid="insertSql"/>)
        VALUES
        <foreach collection="originalPowerList" item="item" index="index" separator=",">
            (#{item.code}, #{item.type}, #{item.value}, #{item.createdTime})
        </foreach>
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM <include refid="table_original_power"/> WHERE id=#{id}
    </select>

    <select id="findByCodeTypeTime" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM <include refid="table_original_power"/>
        WHERE code=#{code} AND type=#{type} AND created_time <![CDATA[>=]]> #{startTime} AND created_time<![CDATA[<=]]>#{endTime}
        ORDER BY created_time DESC
        LIMIT 1
    </select>

    <select id="findLatestByCodeType" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM <include refid="table_original_power"/>
        WHERE code=#{code} AND type=#{type} AND created_time <![CDATA[<=]]> #{startTime}
        ORDER BY created_time DESC
        LIMIT 1
    </select>


</mapper>